/******************************************************/
/*  DEFINE BASE / DARK MODE COLOR VARS  */

:root {
  --prim-bg-color: #90EE90;
  --sec-bg-color: #E8FCE8;
  --tert-bg-color: #BF90EE;
  --jt-bg-color: #e6e6e6;
  --prim-font-color: darkgreen;
  --sec-font-color: red;
  --form-bg-color: #FFF;
  --form-font-color: #000;
  --card-hd-bg-color: #e6e6e6;
  --card-bd-bg-color: #FFF;
}

[data-theme="dark"] {
  --prim-bg-color: darkgreen;
  --sec-bg-color: #094409;
  --tert-bg-color: #40116e;
  --jt-bg-color: #4d4d4d;
  --prim-font-color: #90EE90;
  --sec-font-color: #ff6666;
  --form-bg-color: #000;
  --form-font-color: #FFF;
  --card-hd-bg-color: #4d4d4d;
  --card-bd-bg-color: #000;
}



/******************************************************/
/*  TOP LEVEL CSS  */

body {
  overflow: scroll;  /*  Force scrollbar to avoid "flickering" between tabs  */
  background-color: var(--prim-bg-color);
  color: var(--prim-font-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;  /*  SETTING EXPLICIT DEFAULT  */
  margin: 0;
}

h1 {
  font-size: 4em;
  font-weight: bold;
}

h2 {
  font-size: 3em;
  font-weight: bold;
}

h3 {
  font-size: 2em;
  font-weight: bold;
}

p {
  font-size: 1.2em;
}

hr {
  opacity: 0.7;
  width: 35%;
  border-style: dotted;
  color: var(--prim-font-color);
  border-width: thick;
  border-top: 5px dotted var(--prim-font-color);
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  margin-top: 50px;
  margin-bottom: 70px;
}



/******************************************************/
/*  OVERWRITE JUMBOTRON COLORS TO USE VARS  */

.jumbotron {
    background-color: var(--jt-bg-color);
    color: var(--prim-font-color);
    border-bottom-style: solid;
    border-bottom-color: green;
    border-bottom-width: 3px;
}



/******************************************************/
/*  ENHANCE SPACING CLASSES  */

.pt-20px {
  padding-top: 9%;
}



/******************************************************/
/*  HEADER CSS  */

header {
  height: 125px;
  background-color: var(--sec-bg-color);
  margin: 0;
  border-bottom-style: solid;
  border-bottom-color: green;
  border-bottom-width: 3px;
}

.logo {
  padding-bottom: 8px;
}



/******************************************************/
/*  NAV CSS  */

.nav-link {
  color: var(--prim-font-color) !important;
  font-size: 1.6rem;
}

.nav-link:hover {
  color: #BF90EE !important;
}



/******************************************************/
/*  MAIN CSS  */

.main-content {
  color: var(--prim-font-color);
}

.main-img {
  height: 100px;
  width: 140px;
  position: absolute;
  top: 180px;
  right: 10%;
}

.yoda-quote-container p {
  color: var(--sec-font-color);
  font-weight: bold;
}

.yoda-img {
  height: 100px;
  width: 267px;
  float: right;
}

.main-vid {
  margin: 10px;
  position: relative;
  top: 0;
  background-color: var(--prim-bg-color);
  width: 387px;
  height: 218px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.dice-prompt {
  background-color: var(--tert-bg-color);
}



/******************************************************/
/*  RESOURCES PAGE CSS  */

.video {
  width: 560px;
  height: 315px;
}

.rbm {
  padding-right: 50px;
  font-size: 1.5em;
}

a:link.rbm {
  text-decoration: none;
  color: #BF90EE;
  font-weight: bold;
}

a:hover.rbm {
  color: var(--prim-font-color);
}



/******************************************************/
/*  CONTACT CSS  */

.setColor {
  background-color: var(--form-bg-color) !important;
  color: var(--form-font-color) !important;
}



/******************************************************/
/*  FOOTER CSS  */

footer {
  height: 65px;
  background-color: var(--sec-bg-color);
  margin: 0;
  border-top-style: solid;
  border-top-color: green;
  border-top-width: 3px;
}

.copyright
{
	font-size: 0.75em;
	font-weight: bold;
}



/******************************************************/
/*  DARK MODE CSS  */

/*  DARK MODE SLIDER FONTS  */

.dm-fonts {
  color: var(--sec-font-color);
  font-weight: bold;
}


/*  DARK MODE SLIDER SWITCH  */

.theme-switch-wrapper {
  display: flex;
  align-items: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



/******************************************************/
/*  DICE CSS  */

#game-plan {
  text-align: center;
  padding: 2% 15%;
}

.card-header {
  background-color: var(--card-hd-bg-color);
}

.card-body {
  background-color: var(--card-bd-bg-color);
}


.mt-200 {
  margin-top: 16%;
}
